# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
